<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ransett.numero" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>NumerosDeLaSuerteRansett</name>
    <description>
        Aplicación que con la ayuda de Ransett Numero le permitira jugar con mas plaser.
    </description>
    <author email="iyemartinez1987@gmail.com" href="">
        Ing. Isidro Martínez Suárez
    </author>

   <preference name="AllowInlineMediaPlayback" value="true"/>

   <!--Plugins de IOS-->
    <plugin name="cordova-plugin-statusbar" source="npm"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="SplashScreenDelay" value="10000"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <!-- Requires cli-6.4.0 but we recommend using the latest version. -->
    <preference name="phonegap-version" value="cli-7.0.1" />

    <preference name="android-build-tool" value="gradle" />
    <preference name="android-minSdkVersion" value="15" />

    <!-- Can omit if not targetting Windows Phone -->
    <preference name="windows-appx-target" value="8.1-phone" />
    <preference name="WindowsToastCapable" value="true" />

   <!--Plugins de Android-->
    <plugin name="cordova-plugin-whitelist"  source="npm"/>    
    <plugin name="cordova-plugin-geolocation" source="npm"/>
    <plugin name="cordova.plugins.diagnostic" source="npm" />
    <plugin name="cordova-plugin-vibration"  source="npm"/>
    <plugin name="cordova-plugin-globalization"  source="npm"/>
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
   <plugin name="cordova-plugin-device"  source="npm"/>
   <plugin name="cordova-plugin-insomnia"/>
    <plugin name="cordova-plugin-admobpro" source="npm"/>
   

    <icon src="icon.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="screen.png" />
    <gap:splash gap:platform="ios" height="480" src="screen.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="screen.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="screen.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="screen.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="screen.png" width="1024" />
    <gap:splash gap:platform="winphone" src="screen.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>