<ion-view view-title="Los números de Ransett">
  <ion-content>
    <div class="row" style="text-align: center">
      <div class="col" style="    font-size: x-large;">Sorteo de la Tarde 2:55pm ({{fecha_uno}})</div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col"><div class="resultados">{{dia_uno}}</div></div>
      <div class="col"><div class="resultados">{{dia_dos}}</div></div>
      <div class="col"><div class="resultados">{{dia_tres}}</div></div>
    </div>
    <div class="row" style="text-align: center; margin-top:20px">
      <div class="col" style="    font-size: x-large;">Sorteo de la Noche 8:55pm ({{fecha_dos}})</div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col"><div class="resultados">{{noche_uno}}</div></div>
      <div class="col"><div class="resultados">{{noche_dos}}</div></div>
      <div class="col"><div class="resultados">{{noche_tres}}</div></div>
    </div>
  </ion-content>
</ion-view>
